<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="ListenPort" value="33333"/>-->
    <add key="NumServers" value="2"/>
    <add key="Server1" value="Close Quarters;203.46.105.71;22000;testuser;testpass"/>
    <add key="Server2" value="Wake Server;203.46.105.23;21000;simpuser;simppass"/>
  </appSettings>
</configuration>